*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 50px;
    width: 100px;

}

.logo{
    background-image: url("logo.webp");
    background-size: cover;
    height:50px ;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.8rem ;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    background-color: pink;
    justify-content: space-evenly ;
    width: 620px;
    height: 40px;
    border-radius: 3px ;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 136, 0);
     border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orangered;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.5rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #0f1111;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.panel-option p{
    display: inline;
    margin-left: 15px;
}
.panel-option{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: .95rem;
    font-weight: 700;
}
.hero-section{
    background-image: url(hero.jpg);
        height: 400px;
        background-size: cover;
}
.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color:rgb(168, 4, 4) ;
}
.box{
    border: 2px solid black;
    height: 400px;
    width: 18%;
    background-color: white;
    padding: 20px 30px 15px;
    margin-top: 25px;
    border-radius: 10px;
}
.box-img{
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
    align-items: center;
}
.box-content{
    margin-left: 1px;
    margin-right:1px ;
}
.box-content p {
    color: orangered;
}
footer{
    height: 500px;
    width: 8000px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
p{
    font-size: x-large;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    line-height: 42px;
}
