body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

#box1{
    background-color: aliceblue;
}
#box2{
    background-color: rgb(9, 89, 159);
}
#box3{
    background-color: rgb(228, 232, 29);
}
#box4{
    background-color: rgb(227, 79, 209);
}
#box5{
    background-color: rgb(228, 31, 136);
}