div{
    height: 100px;
    width: 100px;
    background-color: pink;
}

@media(min-width : 600px){
    div{
        background-color: red;
    }
}

@media(min-width : 600px)and (max-width : 1000px){
    div{
        background-color: rgb(33, 230, 29);
    }
}