div{
    height: 200px;
    width: 200px;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;

}
h1{
    height: auto;
    width: 200px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: groove;
    border-color: black;
    text-align: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 50px;

}