

         h1{
            color: aqua;
         }

         button{
            color: wheat;
         }

         #heading{
            color: aqua;
            text-align: center;
         }
         .myclass{
            color: blue;
         }
         #textalign{
            text-align: right;
            text-decoration: pink underline;
            font-weight: 700;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 50px;
            text-transform: capitalize;

         }
         a{
            text-decoration: none;
         }

         #one{
            font-size: 25px;
         }
         #two{
            font-size: 15px;
         }
         #three{
            font-size: 10px;
         }
         .class{
            height: 200px;
            width: 200px;
            background-color: black;
         }
         .class:hover{
            transform: rotate(360deg);
            transition: 2s;
            transform: translateX(1000px);    
         }





