div{
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
    border: 3px solid black;
    position: absolute;
    top: 100px;
    left: 200px;
    animation-name: coloranimate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes coloranimate{
    from{
        left : 0px;
    }
    to{left : 200px}
}

div:hover{

}

div:active{
    background-color: aqua;
}