div{
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
    border: 3px solid black;
    position: absolute;
    top: 100px;
    left: 200px;
    transition: all 2s ease-in;
}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
    transform: scale(2);
    transform: rotate(360deg);
    transition-duration: 2s;
}

div:active{
    background-color: aqua;
}