div{
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
    border: 3px solid black;
    position: absolute;
    top: 100px;
    left: 200px;
    transition: all 1s ease-in;
}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
    transform: translate(100px,80px);
    /* transform: rotate(360deg); */
}

div:active{
    background-color: aqua;
}