div{
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
    border: 3px solid black;
    position: absolute;
    top: 100px;
    left: 200px;
    transform: rotate(45deg);

}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
}

div:active{
    background-color: aqua;
}