div{
    height: 200px;
    width: 200px;
    background-color: pink;
    text-align: center;
    border: 3px solid black;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in ;
    transition-delay: 1s;
}

div:hover{
    background-color: red;
    color: aliceblue;
    font-size: 20px;
}

div:active{
    background-color: aqua;
}