*{
    padding: 0;
    margin: 0;
    color: white;

}

div{
    height: 50px;
    width: auto;
    background-color: black;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    text-decoration: none;
}

button{
    background-color: orange;
    width: auto;
}

#logo{
    color: orange;
    font-size: 25px;
}

a{
    margin-right: 200px;
}

#header{
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-width: 4px;
    border-color: black;
    margin: 25px;
}

#content{
    background-color: aliceblue;
    color: black;
    text-align: center;
    height: auto;
    width: auto;
    display: inline;
    padding: 25px;
    margin: 50px;
    align-items: center;

}

#footer{
    background-color: aliceblue;
    color: black;
    text-align: center;
    border-width: 4px;
    border-color: black;
    margin: 25px;

}
