#box1{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
    font-size: 10px;
}


#box2{
    height: 100px;
    width: 50%;
    background-color: antiquewhite;
    text-align: center;
    font-size: 5em;
}