.loader{
    height: 200px;
    width: 200px;
    background-color: white;
    border: 20px solid red;
    border-top: 20px solid black;
    border-radius: 50%;
    animation: animation 1s ease-in 0s infinite normal;

    
}

@keyframes animation{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}